#header-container {
    box-shadow: var(--box-shadow);

}

#top-header,
#products-navigation-header {
    min-height: 4rem;
}

#top-header {
    /* border: indianred solid 1px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-logo-search-cube {
    /* border: indianred solid 1px; */
    margin-left: 7rem;
    width: 40%;
    display: flex;
    align-items: center;
}

/* logo */
#header-logo {
    margin-right: 6rem;
    text-decoration: none;
    font-size: 1.9rem;
    color: var(--main-theme-color);
    font-family: var(--logo-font-style);
    font-weight: 700;
}

#header-logo-j {
    color: var(--logo-highlight-color);

}

/* search bar */
#header-search-cube {
    /* border: yellow solid 1px; */
    width: 50%;
    display: grid;
    grid-template: 1fr / 3fr;
    align-items: center;
}

#header-search-icon {
    margin-left: 1rem;
    grid-area: 1 / 1 / 1 / 1;
    z-index: 5;
    font-size: 1.2rem;
    color: var(--grey-theme-color);
}

#header-search-bar {
    height: 2.3rem;
    grid-area: 1 / 1 / 1 / 3;
    padding-left: 2.8rem;
    border: var(--grey-theme-color) solid 0.07rem;
    border-radius: 1.4rem;
    font-size: 1rem;
    color: var(--grey-theme-color);
}



/* #user-active-header, 
#user-inactive-header{
    width: 100%;
    min-height: 4rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: 0.2rem;
} */

/* #user-active-header:hover, 
#user-inactive-header:hover {
    box-shadow: var(--box-shadow-active-green);
} */

/* function cube */
#header-function-cube {
    /* border: teal solid 1px; */
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    min-height: 2.5rem;
    font-size: 1.5rem;
    color: var(--grey-theme-color);
    margin-right: 9rem;
    margin-top: 1rem;
    
}

.header-function-cube-nav-unsigned-in {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-function-cube-nav {
    /* border: violet solid 1px; */
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.header-function-dropdown-cube {
    /* border: orchid solid 1px; */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 15rem;
    min-width: 10rem;
    margin-top: 3.5rem;
    z-index: 5;
    background-color: white;
    box-shadow: var(--box-shadow);
}

.header-function-dropdown-cube::before {
    content: "";
    position: absolute;
    top: -0.8rem;
    left: 57%;
    transform: translate(-50%);
    border-left: 0.9rem solid transparent;
    border-right: 0.9rem solid transparent;
    border-bottom: 0.9rem solid white;
}

.header-function-dropdown-list {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 3rem;
    color: var(--main-theme-color);
}

#header-user-icon,
#header-cart-icon {
    color: black;
    margin-left: 1.7rem;
    font-size: 1.8rem;
}

#header-cart-icon {
    margin-right: 1rem;
}

#header-user-icon {
    font-weight: 100;
}

#header-sign-in-text {
    /* border: rebeccapurple solid 1px; */
    margin: 0 0 0 1rem;
    font-size: 1.1rem;
    color: var(--main-theme-color);
    font-weight: 400;
}

/* ------------------------------------ */
/* products navigation */
#products-navigation-header {
    /* border: rebeccapurple solid 1px; */
    display: flex;
    align-items: center;
}

.header-content-box {
    /* border: rebeccapurple solid 1px; */
    width: 40%;
    margin-left: 7rem;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.header-content-box-nav {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-right: 3.5rem;
}

.products-navigation-text,
.products-navigation-icons {
    font-weight: 300;
}

.products-navigation-icons {
    font-size: 1.4rem;
    margin-right: 0.3rem;
}

.products-navigation-text {
    margin: 0;
    font-size: 1rem;
}

/* old version header */
.navigator,
.active-navigator {
    font-size: 1.15rem;
    margin: 0.5rem auto;
    font-weight: 500;
}

.navigator {
    text-decoration: none;
    color: var(--main-theme-color);
}

/* .navigator:hover {
    text-decoration: none;
    color: whitesmoke;
    background-color: var(--main-theme-color);
    border: var(--main-theme-color) solid 0.25rem;
    border-radius: 0.25rem;
} */

.navigator:active {
    text-decoration: none;
    background-color: var(--second-theme-color);
    transform: var(--button-action);
    border: var(--second-theme-color) solid 0.25rem;
    border-radius: 0.25rem;
    font-style: italic;
}

.active-navigator {
    color: var(--second-theme-color);
    font-style: italic;
}

