#payment-intermedia-body {
    width: 70%;
    margin: 10rem auto;
    font-style: italic;
    color: var(--second-theme-color);
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0;
    display: grid;
    grid-template: 1fr / 1fr 2fr 3fr;
    align-items: center;
}


#payment-intermedia-loading-animation {
    width: 5.3rem;
    grid-area: 1 / 1 / 2 / 2;
    margin: 0;
    padding: 0;
    z-index: 5;
    justify-self: center;
}

#payment-loading-text {
    margin: 0;
    padding: 0;
    grid-area: 1/ 2 / 2 / 6;
    text-align: left;
}

#payment-intermedia-body-success {
    color: var(--main-theme-color);
    margin: 10rem 20%;
    display: flex;
    flex-direction: column; 
    text-align: center;
}

#payment-intermedia-body-success h2,
#payment-intermedia-body-success h3 {
    margin-bottom: 2rem;
    font-style: italic;
}

#redirection-countdown {
    font-style: normal;
    color: var(--second-theme-color);
}
