#products-body-container {
    /* border: navy solid 1px; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

#products-headline-container {
    /* border: navy solid 1px; */
    text-align: center;
    margin: 3rem auto 3rem 7rem;
    color: var(--main-theme-color);
}

#products-main-container {
    /* border: navy solid 1px; */
    margin: 0 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* filters */
#products-filters-container {
    /* border: aquamarine solid 1px; */
    width: 35%;
}


/* product list */
#products-product-list-container {
    /* border: darkgoldenrod solid 1px; */
    width: 65%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: end;
}

/* product */
.product-container {
    border: var(--grey-theme-color) solid 0.05rem;
    width: 100%;
    height: 18rem;
    margin: 1.5rem 0;
    text-decoration: none;
    position: relative;
    border-radius: 2rem;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.product-container:hover {
    box-shadow: var(--box-shadow);
}

/* -- product info box */
.product-box {
    /* border: rebeccapurple solid 1px; */
    margin-left: 11%;
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

/* -- -- product wine info */
.wine-info-cube {
    border: black solid 1px;
    width: 65%;
    padding: 1rem 0;
}

/* -- -- product rating price */
.product-rating-price-cube {
    border: navajowhite solid 1px;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
