/* main container */
#product-details-main-container {
    display: flex;
    flex-direction: column;
}

/* make all sub containers the same margin */
/* #product-details-1st-container,
#product-details-2nd-container,
#product-details-3rd-container {
    margin: 0 7rem;
    
} */

/* 1st container */
#product-details-1st-container {
    background-color: rgb(253, 252, 244);
    /* border: fuchsia solid 1px; */
    height: 50rem;
    display: flex;
    justify-content: space-between;
}

/* set up margim of three sections */
#details-wine-img,
#details-wine-info-cube,
#details-function-cube {
    margin-top: 5rem;
}

/* set up height of three sections */
#details-wine-img,
#details-wine-info-cube {
    padding: 0;
    height: 35rem;
}

#details-function-cube {
    height: 20rem;
}

/* -- wine img */
#details-wine-img {
    /* border: indianred solid 1px; */
    margin-left: 7rem;
}

/* -- wine info */
#details-wine-info-cube {
    /* border: rebeccapurple solid 1px; */
    width: 42%;
}

/* -- -- rows in wine info */
.wine-info-row.details-wine-info-row {
    margin-top: 1.5rem;
}

/* -- -- rating row */
.details-rating-row {
    /* border: plum solid 1px; */
    margin: 2rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#details-wishlist {
    display: flex;
}

#add-to-wishlist-icon {
    font-size: 2rem;
}

#details-wishlist-text {
    margin: auto 0.5rem;
    font-weight: 400;
}


/* function cube */
#details-function-cube {
    margin-right: 7rem;
    width: 25%;
    background-color: white;
    padding: 2.5rem 2rem;
    box-shadow: var(--box-shadow);
}
 
/* -- price */
#details-price-row {
    /* border: chocolate solid 1px; */
    font-weight: 650;
    font-size: 1.4rem;
}

#details-price-row h2, 
#details-price-row h6{
    margin: 0;
}

#details-price-row h6 {
    margin-top: 0.8rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* -- add to cart */
#details-add-to-cart-row {
    /* border: tan solid 1px; */
    margin: 2.5rem auto;
}

#details-quantity-info, 
#details-add-to-cart-button {
    width: 100%;
    border-radius: 5rem;
    margin: 0.2rem auto;
}

#details-quantity-info {
    border: var(--grey-theme-color) solid 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    font-size: 1.5rem;
}

.details-modify-quan-icon {
    margin: auto 1rem;
    color: var(--grey-theme-color);
}

#details-quantity-info h4 {
    font-weight: 450;
    font-size: 1.1rem;
}

#details-add-to-cart-button {
    background-color: var(--main-theme-color);
    color: whitesmoke;
    border: darkgreen solid 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.3rem;
}

#details-add-to-cart-button:active {
    background-color: var(--second-theme-color);
    transform: var(--button-action);
}


/* 2nd container */
#product-details-2nd-container {
    border: lightcoral solid 1px;

}


/* 2nd container */
#product-details-3rd-container {
    border: chocolate solid 1px;

}




