/* main container */
#product-details-main-container {
    display: flex;
    flex-direction: column;
}

/* make all sub containers the same margin */
/* #product-details-1st-container,
#product-details-2nd-container,
#product-details-3rd-container {
    margin: 0 7rem;
    
} */

/* 1st container */
#product-details-1st-container {
    background-color: rgb(253, 252, 244);
    border: fuchsia solid 1px;
    height: 50rem;
    display: flex;
    justify-content: space-between;
}

/* three cubes in 1st container & image */
.details-wine-img,
.details-wine-info-cube,
.details-function-cube {
    margin-top: 5rem;
    padding: 0;
    height: 35rem;
}

.details-wine-img {
    border: indianred solid 1px;
    margin-left: 7rem;
}

.details-wine-info-cube {
    border: rebeccapurple solid 1px;
    width: 38%;
}

.details-function-cube {
    border: chocolate solid 1px;
    margin-right: 7rem;
    width: 30%;
}

/* -- rows in wine info */
.wine-info-row.details-wine-info-row {
    margin-bottom: 1rem;
}

.wine-info-row.details-rating-row {
    border: plum solid 1px;
    margin-top: 4rem;

}


#product-details-price-add-to-cart-button {
    background-color: var(--main-theme-color);
    border-radius: 0.2rem;
    border: lightgrey solid 1.5px;
    grid-area: 5 / 2 / 6 / 5;
    height: 70%;
    color: whitesmoke;
}

#product-details-price-add-to-cart-button:active {
    background-color: var(--second-theme-color);
    transform: var(--button-action);
}


/* 2nd container */
#product-details-2nd-container {
    border: lightcoral solid 1px;

}


/* 2nd container */
#product-details-3rd-container {
    border: chocolate solid 1px;

}




