/* main container */
#product-details-main-container {
    display: flex;
    flex-direction: column;
}

/* 1st container */
#product-details-1st-container {
    background-color: rgb(253, 252, 244);
    /* border: fuchsia solid 1px; */
    height: 45rem;
    display: flex;
    justify-content: space-between;
}

/* set up margim of three sections */
#details-wine-img,
#details-wine-info-cube,
#details-function-cube {
    margin-top: 5rem;
}

/* set up height of three sections */
#details-wine-img,
#details-wine-info-cube {
    padding: 0;
    height: 35rem;
}

#details-function-cube {
    height: 20rem;
}

/* -- wine img */
#details-wine-img {
    /* border: indianred solid 1px; */
    margin-left: 7rem;
}

/* -- wine info */
#details-wine-info-cube {
    /* border: rebeccapurple solid 1px; */
    width: 42%;
}

/* -- -- rows in wine info */
.wine-info-row.details-wine-info-row {
    margin-top: 1.5rem;
}

/* -- -- rating row */
.details-rating-row {
    /* border: plum solid 1px; */
    margin: 2rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#details-wishlist {
    display: flex;
}

#add-to-wishlist-icon {
    font-size: 2rem;
}

#details-wishlist-text {
    margin: auto 0.5rem;
    font-weight: 400;
}


/* function cube */
#details-function-cube {
    margin-right: 7rem;
    width: 25%;
    background-color: white;
    padding: 2.5rem 2rem;
    box-shadow: var(--box-shadow);
}
 
/* -- price */
#details-price-row {
    /* border: chocolate solid 1px; */
    font-weight: 650;
    font-size: 1.4rem;
}

#details-price-row h2, 
#details-price-row h6{
    margin: 0;
}

#details-price-row h6 {
    margin-top: 0.8rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* -- add to cart */
#details-add-to-cart-row {
    /* border: tan solid 1px; */
    margin: 2.5rem auto;
}

#details-quantity-info, 
#details-add-to-cart-button {
    width: 100%;
    border-radius: 5rem;
    margin: 0.2rem auto;
}

#details-quantity-info {
    border: var(--grey-theme-color) solid 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    font-size: 1.5rem;
}

.details-modify-quan-icon {
    margin: auto 1rem;
    color: var(--grey-theme-color);
}

#details-quantity-info h4 {
    font-weight: 450;
    font-size: 1.1rem;
}

#details-add-to-cart-button {
    background-color: var(--main-theme-color);
    color: whitesmoke;
    border: darkgreen solid 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.3rem;
}

#details-add-to-cart-button:active {
    background-color: var(--second-theme-color);
    transform: var(--button-action);
}

/* -- etd */
#etd-row {
    /* border: rosybrown solid 1px; */
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8rem;
}

#delivery-icon {
    font-size: 1.5rem;
}

#etd-row p{
    padding: 0;
    margin: 0 0.8rem;
}

/* 2nd container */
#product-details-2nd-container {
    /* border: lightcoral solid 1px; */
    height: 40rem;

}

#details-tasting-container {
    margin: 5rem 7rem 0 7rem;
}

/* feature */
#tasting-feature-box {
    /* border: green solid 1px; */
    height: 11rem;
    display: flex;
    flex-direction: column;
}

.tasting-feature-cube {
    /* border: indianred solid 1px; */
    display: flex;
    align-items: center;
    height: 2.5rem;
    margin: 0.5rem 0;
}

.tasting-feature-cube h5,
.tasting-feature h6 {
    /* border: magenta solid 1px; */
    margin: 0;
}

.tasting-feature-cube h5 {
    /* border: olivedrab solid 1px; */
    font-size: 1.1rem;
    font-weight: 500;
    width: 10rem;
}

.tasting-feature {
    /* border: greenyellow solid 1px; */
    display: flex;
    margin-left: 5rem;
    align-items: center;
    width: 46rem;
    justify-content: space-between;
}

.tasting-feature h6 {
    /* border: violet solid 1px; */
    font-weight: 400;
    font-size: 0.85rem;
    width: 5%;
}

.tasting-feature h6:last-child {
    margin-left: 0.5rem;
}

/* aroma */
.tasting-feature-cube.details-aroma-container {
    /* border: aquamarine solid 1px; */
    height: 20rem;
    display: flex;
    align-items: start;
    padding-top: 0.8rem;
}

#details-aroma-box {
    /* border: indianred solid 1px; */
    height: 20rem;
    width: 52rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 4.3rem;
}

.aroma-cube {
    /* border: aqua solid 1px; */
    width: 5.5rem;
    height: 5.2rem;
    margin: 0 3rem 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.aroma-img,
.aroma-cube h6 {
    margin: 0 auto;
}

.aroma-img {
    /* border: red solid 1px; */
    width: 3.4rem;
}

.aroma-cube h6 {
    /* border: darkcyan solid 1px; */
    font-size: 0.9rem;
    font-weight: 400;
}


/* 3nd container */
#product-details-3rd-container,
#details-facts-container {
    /* border: chocolate solid 1px; */
    height: 30rem;
}

#details-facts-container {
    /* border: darkblue solid 1px; */
    margin: 0 7rem 0 7rem;
}

#facts-info-box {
    /* border: aqua solid 1px; */
    height: 20rem;
    display: flex;
    flex-direction: column;
}

.facts-info-row {
    /* border: red solid 1px; */
    border-bottom: lightgrey solid 1px;
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;

}

.facts-info-row h6,
.facts-info-icon,
.facts-info-row-content {
    font-size: 1rem;
    font-weight: 400;
}

.facts-info-row-title {
    /* border: green solid 1px; */
    width: 30%;
    display: flex;
    align-items: center;
}

.facts-info-icon {
    font-size: 1.3rem;
    color: darkgray
}

.facts-info-row h6 {
    margin: 0 0 0 0.8rem;
    padding: 0;
}

.facts-info-row-content {
    /* border: green solid 1px; */
    width: 70%;

}

